<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="utlilities.ExtentReporterNG"/>
        <listener class-name="utlilities.ListernExecution"/>
    </listeners>

    <test name="UIGestures">
        <classes>
            <class name="testFlows.login" />
        </classes>
    </test>
</suite>



